html
  head
    title= "Product Detail Page - High-quality image display demo - ImageKit"
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500")
    link(rel="stylesheet" href="styles/style.css")
  body
    h1= "E-commerce page"